{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'userprofile/css/userprofile.css' %}">
{% endblock %}

{% block extra_title %}
- Profile
{% endblock %}

{% block content %}

<div id="username">
  <p>Hello, {{ user.username }}</p>
</div>

<section id="user-profile">

  <div id="saved-releases-contain">

    <div id="save-head">
      <h2>My Saved Releases</h2>
    </div>

    {% for post in new %}

    <div id="saved-releases">
      <a class="post-link" href="{% url 'blog_post' post.slug %}">
        <img id="post-img" src="{{ post.image.url }}" alt="">
        <p>{{ post.title }}</p>
        <a class="remove-btn" href="{% url 'add_release' post.id %}">Remove Release</a>
      </a>
    </div>

    {% endfor %}

  </div>

</section>

{% endblock %}