body {
    font-family: 'Hind Madurai', sans-serif;
}

#username {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 2rem;
}

#user-profile {
    display: flex;
}

#saved-releases-contain {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem 2rem;
    border: 0.1rem solid #EAF0F0;
    border-bottom: none;
}

#save-head {
    background-color: #EAF0F0;
    display: flex;
    justify-content: center;
}

#save-head h2 {
    font-weight: 500;
}

#saved-releases {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-bottom: 0.1rem solid #EAF0F0;
}

.post-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: black;
}

#saved-releases p {
    padding-left: 0.4rem;
}

#post-img {
    height: 4rem;
    width: 4rem;
}

.remove-btn {
    text-decoration: initial;
    color: blue;
    padding-left: 5%;
}

footer {
    position: fixed;
    bottom: 0;
}

/* ------------------------------------------- Tablet Media Query */

@media only screen and (max-width: 768px) {
    
    #saved-releases-contain {
        width: 80%;
    }
    
}

/* ------------------------------------------- Mobile Media Query */

@media only screen and (max-width: 480px) {

    #username {
        width: 100%;
        margin: 1rem 0.4rem;
    }

    #username p {
        font-size: 1rem;
    }

    #saved-releases-contain {
        margin: 1rem 0;
        width: 100%;
    }

    #save-head h2 {
        font-size: 1rem;
    }

    .remove-btn {
        font-size: 0.8rem;
    }
    
}