body {
    font-family: 'Hind Madurai', sans-serif;
}

#post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-title {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 80%;
    margin: 2rem 0;
}

.post-title h1 {

    font-size: 3.2rem;
    font-weight: 600;
}

.post-img {
    height: 28rem;
    width: 28rem;
}

.post-info {
    text-align: center;
    margin: 1rem 0;
}

.post-content {
    max-width: 80%;
}

.music-preview {
    margin: 2rem 0;
}

#comment-head {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    font-size: 1.4rem;
}

#posted-comments {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1.2rem auto;
}

#comment-user {
    display: flex;
    font-weight: 500;
    font-size: 1.1rem;
}

