@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Raleway:ital,wght@1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    width: 100%;
    /* position: absolute; */
    font-family: 'Hind Madurai', sans-serif;
}

#page-load {
    height: 100vh;
    width: 100%;
    background: rgba(7, 7, 7, 0.84);
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-load-logo h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 4rem;
    animation-name: pulse;
    animation-duration: 375ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulse {
    from {
        font-size: 4rem;
    }

    to {
        font-size: 3.4rem;
    }
}

#search {
    height: 20vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #EAF0F0;
}

.search-bar {
    width: 30%;
    height: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.search-bar form {
    height: 100%;
    width: 100%;
}

.search-bar input {
    height: 100%;
    width: 100%;
    background-color: #EAF0F0;
    color: black;
    padding-left: 0.1rem;
    border-bottom: solid 2px black;
    outline: none;
    font-size: 1rem;
    font-family: 'Hind Madurai', sans-serif;
}

#search-arrow {
    position: absolute;
    right: 0;
    top: 10px
}

/*--------------------------------- Navigation*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 1rem 2rem;
}

#logo a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

#logo h2 {
    font-size: 3rem;
}

#burger {
    position: absolute;
    right: 0.8rem;
    display: none;
}

#burger a {
    color: black;
}

#navbar-links {
    margin: 0 1rem;
}

#navbar-links ul {
    display: flex;
    margin-bottom: 0;
}

#navbar-links li {
    list-style: none;
}

#navbar-links li a {
    text-decoration: none;
}
#navbar-links li i {
    text-decoration: none;
}

#navbar-links li p {
    padding: 0.8rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
}

#navbar-links li p:hover {
    color: #EAF0F0;
}

#user-msg {
    height: 3rem;
    width: 100%;
    background-color: #c3eaea78;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #c3eaea;
    border-radius: 0.1rem;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 500;
}

footer {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.6rem;
}

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-links a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    padding: 0.2rem;
}

.social-links a:hover {
    color: #EAF0F0;
}


/* ------------------------------------------- Tablet Media Query */

@media only screen and (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #logo {
        margin: 0.6rem 0.6rem;
    }

    #logo h2 {
        font-size: 2rem;
    }

    #burger {
        display: flex;
        margin: 0.8rem 0;
    }

    #navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 0 0;
    }

    #navbar-links ul {
        flex-direction: column;
    }

    #navbar-links li {
        text-align: center;
    }

    #navbar-links li p {
        padding: 0.4rem 0;
    }

    #navbar-links.active {
        display: flex;
    }

}

/* ------------------------------------------- Mobile Media Query */

@media only screen and (max-width: 480px) {

    #logo h2 {
        font-size: 1.2rem;
    }

    #burger {
        font-size: 0.6rem;
        margin: 0.6rem 0;
    }

    #navbar-links li p {
        padding: 0.2rem 0;
        font-size: 1rem;
    }

    footer h2 {
        font-size: 2rem;
    }

    .social-links a {
        font-size: 1rem;
    }

}