{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}
- Blog
{% endblock %}

{% block content %}
<section id="post-section">
    <div id="blog-contain">
        <div id="posts">
            {% for post in post_list %}
            <div class="blog-post">
                <a href="{% url 'blog_post' post.slug  %}">
                    <div class="post-img-contain">
                        <img class="post-img" src="{{ post.image.url }}" alt="music cover artwork">
                    </div>
                    <h3 class="post-title">{{ post.title }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}