{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'blog/css/blog_post.css' %}">
{% endblock %}

{% block content %}
<section id="post-section">

    <div class="post-title">
        <h1>{{ post.title }}</h1>
    </div>

    <div class="img_contain">
        <img class="post-img" src="{{ post.image.url }}" alt="">
    </div>

    <div class="post-info">
        <h4>Words by {{ post.author }}</h4>
        <p>{{ post.posted_on }}</p>
    </div>

    <div class="post-content">
        {{ post.content }}
    </div>

    <div class="music-preview">
        {% video post.music_preview 'small' %}
    </div>

</section>

<section id="user-options">

    <div id="user-btns">
        {% if user.is_staff %}
        <div id="user-btn">
            <a href="{% url 'delete_post' post.slug %}" class="btn btn-outline-secondary">
                <p>Delete Post</p>
            </a>
        </div>

        <div id="user-btn">
            <a href="{% url 'edit_post' post.slug %}" class="btn btn-outline-secondary">
                <p>Edit Post</p>
            </a>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        {% if saved %}
        <div id="user-btn">
            <a href="{% url 'add_release' post.id %}" class="btn btn-outline-secondary">
                <i class="fa-solid fa-minus"></i>
                <p>&nbsp Remove Release</p>
            </a>
        </div>
        {% else %}
        <div id="user-btn">
            <a href="{% url 'add_release' post.id %}" class="btn btn-outline-secondary">
                <i class="fa-solid fa-plus"></i>
                <p>&nbsp Save Release</p>
            </a>
        </div>
        {% endif %}
        {% else %}
        <div id="user-btn">
            <a href="{% url 'account_signup' %}" class="btn btn-outline-secondary">
                <i class="fa-solid fa-plus"></i>
                <p>&nbsp Save Release</p>
            </a>
        </div>
        {% endif %}
    </div>

</section>

<section id="comment-section">

        <div class="comment-form">
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </form>
        </div>

    <div>
        <div id="comment-head">
            <h2>Comments</h2>
        </div>
    
        <div id="posted-comments">
            {% if comments %}
            {% for comment in comments %}
            <div id="comment-user">
                <p id="comment-username">{{ comment.user }} &nbsp</p>
                <p id="comment-date"> {{ comment.posted_on }}</p>
            </div>
            <div>
                {{ comment.body }}
            </div>
            {% if comment.user == request.user or request.user.is_staff %}
            <div>
                <a href="{% url 'delete_comment' comment.id %}">Delete</a>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div id="nocomments">
                <p>This post has no comments.</p>
            </div>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}