{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'mixes/css/all.css' %}">
{% endblock %}

{% block extra_title %}
- Mixes
{% endblock %}

{% block content %}
<section id="mix-section">
    <div id="mix-contain">
        <div id="mixes">
            {% for mix in mix_list %}
            <div class="mix-post">
                <a href="{% url 'mix_page' mix.slug  %}">
                    <div class="mix-img-contain">
                        <img class="mix-img" src="{{ mix.image.url }}" alt="music mix artwork">
                    </div>
                    <h3 class="mix-title">{{ mix.title }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}