{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<section id="mix-section">

    <div class="mix-title">
        <h1>{{ mix.title }}</h1>
    </div>

    <div class="img_contain">
        <img class="mix-img" src="{{ mix.image.url }}" alt="">
    </div>

    <div class="post-content">
        {{ mix.content|safe }}
    </div>

    <div class="music-preview">
        {% video mix.music_preview '100% x 100%' %}
    </div>

</section>

{% endblock %}