{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'mixes/css/mix_page.css' %}">
{% endblock %}

{% block extra_title %}
- Mix
{% endblock %}

{% block content %}
<section id="mix-section">

    <div class="img-contain">
        <img class="mix-img" src="{{ mix.image.url }}" alt="music mix artwork">
        <div class="mix-title">
            <h1>{{ mix.title }}</h1>
        </div>
    </div>

    <div class="mix-content">
        {{ mix.content|safe }}
    </div>

    <div class="music-preview">
        {% video mix.music_preview '100% x 100%' %}
    </div>

</section>

{% endblock %}