{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}


<div id="featured-post">
    <img src="{{ featuredpost.image.url }}">
    <div class="feature-title"><h2>{{ featuredpost.title }}</h2></div>
</div>


<section id="post-section">

    <div id="blog-contain">
        <div id="blog-link">
            <h2>
                <a href="{% url 'blog' %}">BLOG</a>
            </h2>
        </div>
        <div id="posts">
            {% for post in posts %}
            <div class="blog-post">
                <a href="{% url 'blog_post' post.slug  %}">
                    <div class="post-img-contain">
                        <img class="post-img" src="{{ post.image.url }}">
                    </div>
                    <h3 class="post-title">{{ post.title }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>

</section>
{% endblock %} 