{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block extra_title %}
- Home
{% endblock %}

{% block content %}


<div id="featured-post">
    <a href="{% url 'blog_post' featuredpost.slug %}">
        <img src="{{ featuredpost.image.url }}" alt="music cover artwork">
        <div class="feature-title">
            <h2>{{ featuredpost.title }}</h2>
        </div>
    </a>
</div>


<section id="post-section">

    <div id="blog-contain">
        <div id="blog-link">
            <h2>
                <a href="{% url 'blog' %}">BLOG</a>
            </h2>
        </div>
        <div id="posts">
            {% for post in posts %}
            <div class="blog-post">
                <a href="{% url 'blog_post' post.slug  %}">
                    <div class="post-img-contain">
                        <img class="post-img" src="{{ post.image.url }}" alt="music cover artwork">
                    </div>
                    <h3 class="post-title">{{ post.title }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<section id="mix-section">

    <div id="mixes-link">
        <h2>
            <a href="{% url 'mixes' %}">MIXES</a>
        </h2>
    </div>
    <div id="mix-contain">
        <div id="mixes">
            {% for mix in mixes %}
            <div class="mix-post">
                <a href="{% url 'mix_page' mix.slug  %}">
                    <div class="mix-img-contain">
                        <img class="mix-img" src="{{ mix.image.url }}" alt="music mix artwork">
                    </div>
                    <div class="mix-title">
                        <h3>{{ mix.title }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}